<br><br>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">MATRICULE</th>
      <th scope="col">MARQUE</th>
      <th scope="col">COULEUR</th>
      <th scope="col">CARBURANT</th>
      <th scope="col">CATEGORIE</th>
    </tr>
  </thead>   
  <tbody>
    <tr >
      <td>{{livres.id}}</td>
      <td>{{livres.matricule}}</td>
      <td>{{livres.marque}}</td>
      <td> {{livres.Couleur}}</td>
      <td> {{livres.Caburant}}</td>
      <td> {{livres.Categorie}}</td>
    </tr>

  </tbody>
</table>