<html style="background-color: coral;">

<head>
</head>
<br><br><br>
<body style="background-color: coral;">
  <div class="container" style="background-color: wheat;">
    <h3 align="center">Livres de la categorie Buisness</h3>
    <table class="table table-bordered">

      <thead class="thead-dark">
        <tr>
          <th scope="col">Codes</th>
          <th scope="col">Dates</th>
          <th scope="col">titres</th>
          <th scope="col">Auteurs</th>
          <th scope="col">Categories</th>
          <th scope="col">Etageres</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Livres of listLivresCategorie">
          <td>{{Livres?.isbn}}</td>
          <td>{{Livres?.dateDeParution}}</td>
          <td>{{Livres?.titre}}</td>
          <td> {{Livres?.auteur.nom}}</td>
          <td> {{Livres?.categorie.libelle}}</td>
          <td> {{Livres?.etagere.libelle}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h5 class="container" align="center">Description</h5>
  <div class="container" align="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Sed ut massa enim. Pellentesque purus lorem, ornare at sapien eu, mollis pulvinar velit.
    Proin posuere arcu orci, id tempor sem rutrum ut. Mauris quis egestas massa.
    Proin viverra consequat euismod.
    Aliquam auctor erat sed purus ultricies, sit amet pharetra nulla maximus.
    Aliquam vitae arcu a dolor ultrices rhoncus vestibulum vel mi.
    Vivamus elit ex, tempor nec suscipit eget, dapibus a risus.
  </div>
</body>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</html>