<html style="background-color: coral;">

<head>
</head>

<body style="background-color: coral;">
    <h2 align="center">S'inscrire</h2>
    <div class="container" style="background-color: wheat;">
        <form action="action_page.php">
            <div class="container" style="background-color: wheat;">
                <h1>Inscription</h1>
                <p>Veuillez remplir les champs pour vous inscrire.</p>
                <hr>
        
                <label for="email"><b>Login</b></label>
                <input type="text" placeholder="Enter Login" name="login" [(ngModel)]="newUtilisateur.login" name="login"
                    required>
        
                <label for="psw"><b>Mot de passe</b></label>
                <input type="password" placeholder="Enter Password" [(ngModel)]="newUtilisateur.pwd" name="pwd" required>
        
               <!-- <label for="psw-repeat"><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="pwd-repeat" required>
                <hr>-->
        
                <p>En creant le compte vous acceptez nos conditions <a href="#">Terms & Privacy</a>.</p>
                <button type="submit" class="registerbtn" (click)="AjouterUtilisateurs()">S'inscrire</button>
            </div>
        
            <div class="container signin">
                <p>Vous avez deja un compte? <a href="http://localhost:4200/connexion">Se connecter</a>.</p>
            </div>
        </form>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</body>

</html>
