<html >

<head>

</head>

<body style="background-color: coral;">

    <h2 align="center">LISTE DES LIVRES</h2>
    <div class="container" id="MonTableau" style="background-color:wheat;">
        <h2 align="center">Filtre</h2>
        <p align="center"> Taper un mot dans la barre de recherche( nom, prenom, titre..)</p>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr align="center">
                    <th scope="col">Code ISBN</th>
                    <th scope="col">Date</th>
                    <th scope="col">Titre </th>
                    <th scope="col">Auteurs</th>
                    <th scope="col">Categorie</th>
                    <th scope="col">Etagere</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody id="myTable">
                <tr *ngFor="let Livres of listLivres">
                    <td>{{Livres.isbn}}</td>
                    <td>{{Livres.dateDeParution}}</td>
                    <td>{{Livres.titre}}</td>
                    <td>{{Livres.auteur.nom}}</td>
                    <td>{{Livres.categorie.libelle}}</td>
                    <td>{{Livres.etagere.libelle}}</td>
                    <td>
                        <a type="button" href="{{'http://localhost:4200/detail-livres/'+ Livres.idLivre}}"
                            class="btn btn-success">Consulter</a>
                        <a type="button" href="{{'http://localhost:4200/reserver-livres/'+Livres.idLivre }}"
                            class="btn btn-primary">Reserver</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>