<html style="background-color: coral;">

<head>

</head>

<body style="background-color: coral;">
    <h2 align="center">LISTE DES CATEGORIES</h2>
    <div class="container" id="MonTableau">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr align="center">
                    <th scope="col">Libéllés</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Categorie of listCategorie">
                    <td align="center">{{Categorie.libelle}}</td>
                    <td align="center"><button type="button" class="btn btn-outline-danger"
                            (click)="SupprimerCategorie(Categorie.idCategorie)">Supprimer</button>
                        <a type="button" href="{{'http://localhost:4200/detail-categorie/'+ Categorie.idCategorie}}"
                            class="btn btn-success">Consulter</a>
                        <a type="button" href="{{'http://localhost:4200/modif-categorie/'+Categorie.idCategorie}}"
                            class="btn btn-outline-primary">modifier</a>
                            <a type="button" href="{{'http://localhost:4200/livres-categorie/'+Categorie.idCategorie}}"
                            class="btn btn-outline-primary">Afficher</a></td>
                </tr>
            </tbody>
            <button type="button" class="btn btn-outline-info">
                <a class="nav-link" href="http://localhost:4200/categorie">Ajouter une Categorie
                </a></button>
        </table>
    </div>
</body>

</html>