<html  style="background-color: coral;">

<head>
</head>

<body  style="background-color: coral;">
  <br><br><br>
  <h3 align="center"> Livres de l'étagere</h3>
  <div class="container" style="background-color: wheat;">
    <table class="table table-bordered">
      
        <thead class="thead-dark">
            <tr >
              <th scope="col">Codes</th>
              <th scope="col">Dates</th>
              <th scope="col">titres</th>
              <th scope="col">Auteurs</th>
              <th scope="col">Categories</th>
              <th scope="col">Etageres</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor ="let Livres of listLivresEtagere">
              <td>{{Livres.isbn}}</td>
              <td>{{Livres.dateDeParution}}</td>
              <td>{{Livres.titre}}</td>
              <td> {{Livres.auteur.nom}}</td>
              <td> {{Livres.categorie.libelle}}</td>
              <td> {{Livres.etagere.libelle}}</td>
            </tr>
      </tbody>
    </table>
  </div>
  <h5 align="center">Description</h5>
  <div align="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Sed ut massa enim. Pellentesque purus lorem, ornare at sapien eu, mollis pulvinar velit.
 .
  </div>
</body>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</html>