<html>

<head>
  <style>

  </style>
</head>

<body>
  <div class="container">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">NOMS</th>
          <th scope="col">PRENOMS</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{auteurs.nom}}</td>
          <td>{{auteurs.prenom}}</td>
        </tr>

      </tbody>
    </table>
  </div>
  <h5>Description</h5>
  <div>Akira Toriyama (鳥山 明, Toriyama Akira?) est un auteur de manga et character designer japonais né le 5 avril 1955 à Kiyosu
     dans la préfecture d'Aichi.Son œuvre la plus célèbre, Dragon Ball, connait un très grand succès mondial. 
     En 2007, les Japonais le classent troisième  « meilleur manga de tous les temps » 
    à l'occasion du dixième anniversaire du Japan Media Arts Festival, derrière Slam Dunk et JoJo's Bizarre Adventure1.
  </div>
</body>

</html>