<header>

    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="../../assets/Video Inside A Library.mp4">" type="video/mp4">
    </video>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-3">Gaghani Libraries.</h1>
          <p class="lead mb-0">Knowlegdes above all.</p>
        </div>
      </div>
    </div>
  </header>
  
<div class="jumbotron text-center" style="background-color:#55a4ff;">
    <h1>Welcome to the place you meant to be! </h1>
    <p></p> 
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Contacts</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-4">
        <h3>Qui nous sommes?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-4">
        <h3>F.A.Q</h3>        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
    </div>
  </div>
  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <p>L'Automobile pour nous, c'est plus qu'un métier, c'est une passion qui se transmet de père en fils depuis des générations . Une passion que nous partageons avec d'autres passionnés à travers ce site </p>
          <p>Si vous cherchez un endroit ou vous pouvez parler autombile, échanger avec des spécilialistes et repartir avec la la voiture de vos reves, n'hesiter pas à nous contacter</p>
          <p>Set the mobile fallback image in the CSS by changing the background image of the header element within the media query at the bottom of the CSS snippet.</p>
          <p class="mb-0">
            Created by <a href="https://startbootstrap.com">Start Bootstrap</a>
          </p>
        </div>
      </div>
    </div>
  </section>