<body>
    <div class="container">
        <h2 align="center">Ajouter un nouveau livre</h2>
        <form action="/action_page.php">
            <form class="needs-validation" novalidate>
                <div class="form-group">
                    <div class="form-group row">
                        <label for="code" class="col-sm-2 col-form-label">Code IBSN</label>
                        <div class="col-sm-10">
                            <input type="text" name="code"[(ngModel)]="modifLivres.isbn" class="form-control"
                                id="idcode">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="date" class="col-sm-2 col-form-label">Date</label>
                        <div class="col-sm-10">
                            <input type="date" name="date" [(ngModel)]="modifLivres.dateDeParution" class="form-control"
                                id="iddate">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="titre" class="col-sm-2 col-form-label">Titres</label>
                        <div class="col-sm-10">
                            <input type="text" name="titre" [(ngModel)]="modifLivres.titre" class="form-control"
                                id="idtitre">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="validationTooltip03" class="col-sm-2 col-form-label">Auteurs</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="Auteurs" [(ngModel)]="modifLivres.idAuteurs" id id="coul">
                                <option *ngFor="let unAuteur of Auteurs"
                                [(ngValue)]="unAuteur.idAuteurs">{{Auteurs.nom}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="validationTooltip03" class="col-sm-2 col-form-label">Catégorie</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="Categorie" [(ngModel)]="modifLivres.Categorie.idCategorie" id="idCategorie">
                                <option *ngFor="let uneCategorie of Categorie"
                                    [(ngValue)]="uneCategorie.idCategorie">{{Categorie.libelle}}</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="validationTooltip03" class="col-sm-2 col-form-label">Etagere</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="Etagere" [(ngModel)]="modifLivres.Etagere.idEtagere" id="idetagere">
                                <option *ngFor="let uneEtagere of Etagere"
                                [(ngValue)]="uneEtagere.idEtagere">{{Etagere.libelle}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg"
                    (click)="ModifierLivre()">Soumettre</button>
                
            </form>
        </form>
    </div>
</body>






